modules = ["nodejs-24", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
ADMIN_TELEGRAM_ID = "5818221358"
TELEGRAM_ADMIN_CHAT_ID = "5818221358"
JWT_SECRET = "b1d9b4eba7be08a0810ec2dcb93d17328028439ed6e0c59327da683dbafe6b3d2416019e67011bc6bb7ffc8f641aa66c"
TELEGRAM_BOT_TOKEN = "8660723945:AAG1Z-EFivqoqTnGvKFeZDyRbMgWaPAJses"
